<div class="container">
    <div class="admin-title pt-5">
        <h1>Descargar m&eacute;tricas</h1>
    </div>
    <div class="col-12 text-center p-5" id="modulo">
        <button class="btn btn-lg btn-primary col-12" ng-click="descargarMetricasModulos()"> Descargar m&eacute;tricas de los m&oacute;dulos <i class="fas fa-download"></i></button> 
        <br>
        <br>
        <br>
        <!--<button class="btn btn-lg btn-info" ng-click="descargarMetricasEmpresas()"> Descargar m&eacute;tricas de las empresas <i class="fas fa-download"></i></button>-->
        <!--<button class="btn btn-lg btn-info col-12" ng-click="descargarTable()" id="button-descarga"> Descargar m&eacute;tricas de las empresas <i class="fas fa-download"></i></button>-->
        <button class="btn btn-lg btn-info col-12" ng-click="descargarMetricas()" id="button-descarga"> Descargar m&eacute;tricas de las empresas <i class="fas fa-download"></i></button>
        <br>
        <br>
        <button class="btn btn-lg btn-warning col-12" ng-click="descargarInformacionEmpleados()" > Descargar datos de los empleados <i class="fas fa-download"></i></button>
    </div>
</div>