<div class="container">
    <div class="admin-title pt-5">
        <h1>Agregar cliente</h1>
    </div>
    <div class="formulario mt-5 p-5 col-12">
        <h2 style="color:white; border-bottom: 1px solid white;"><strong>Cliente</strong></h2>
        <form class='pt-5'>
            <div id="datos-empresa" class="pb-3">
                <h3 class="mb-4">Datos de la empresa</h3>
                <div class="form-group">
                    <!--<div class="row">-->
                    <label>Nombre de la empresa *</label>
                    <input type="text" class="form-control" ng-model="cliente.nombre_empresa" placeholder="Nombre empresa" >
                    <!--</div>-->
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-6">
                            <label>Raz&oacute;n social </label>
                            <input type="text" class="form-control" ng-model="cliente.razon_social" placeholder="Razón social">
                        </div>
                        <div class="col-6">
                            <label>Sitio web </label>
                            <input type="text" class="form-control" ng-model="cliente.sitio_web" placeholder="Sitio web">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Domicilio </label>
                    <input type="text" class="form-control" ng-model="cliente.domicilio" placeholder="Domicilio">
                </div>
                <button class="btn btn-primary btn-lg float-right" ng-click="irDatosPersonales(cliente.nombre_empresa)">Siguiente</button>
            </div>
            <div id="datos-contacto">
                <h3 class="mb-4">Datos contacto principal</h3>
                <div class="form-group">
                    <div class="row">
                        <div class="col-4">
                            <label>Nombre * </label>
                            <input type="text" class="form-control" ng-model="cliente.nombre_contacto_principal" placeholder="Nombre" >
                        </div>
                        <div class="col-4">
                            <label>Primer apellido *</label>
                            <input type="text" class="form-control" ng-model="cliente.primer_apellido_contacto_principal" placeholder="Primer apellido" >
                        </div>
                        <div class="col-4">
                            <label>Segundo apellido *</label>
                            <input type="text" class="form-control" ng-model="cliente.segundo_apellido_contacto_principal" placeholder="Segundo apellido" >
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-4">
                            <label>Email *</label>
                            <input type="email" class="form-control" ng-model="cliente.email_contacto_principal" placeholder="Email" >
                        </div>
                        <div class="col-4">
                            <label>Tel&eacute;fono *</label>
                            <input type="text" class="form-control" ng-model="cliente.telefono_contacto_principal" placeholder="Teléfono" numbers-only allowDecimals="false" >
                        </div>
                        <div class="col-4">
                            <label>Puesto </label>
                            <input type="text" class="form-control" ng-model="cliente.puesto_contacto_principal" placeholder="Puesto desempeñado" >
                        </div>
                    </div>
                </div>
                <div class="row col-12">
                    <div class="col-9">
                    </div>
                    <div class="col-3 row">
                        <a href="" ng-click="atras('datos-empresa', 'datos-contacto')">Atr&aacute;s</a>
                        <label>&nbsp; &nbsp;</label>
                        <button class="btn btn-primary btn-lg" ng-click="irContrato(cliente.nombre_contacto_principal, cliente.primer_apellido_contacto_principal, cliente.segundo_apellido_contacto_principal, cliente.email_contacto_principal, cliente.telefono_contacto_principal)">Siguiente</button>
                    </div>
                </div>
            </div>
            <div id="contrato">
                <h3 class="mb-4">Requisitos de ingreso a los m&oacute;dulos</h3>
                <div class="form-group">
                    <label>Usuarios disponibles a registrar bajo el código empresarial *</label>
                    <input type="text" class="form-control" ng-model="cliente.numero_usuarios" placeholder="Número de usuarios" numbers-only allowDecimals="false" >
                </div>
<!--                <div class="form-group">
                    <label>Selecciona los módulos contratados por la empresa: </label>
                    <div class="col-12 row">
                        <div class="col-6">
                            <select class="col-12" name="multipleSelect" id="multipleSelect" multiple>
                                <option ng-repeat="modulo in modulos" ng-click="seleccionarModulos(modulo.nombre, modulo.id);">{{modulo.nombre}}</option>
                            </select>
                        </div>
                        <div class="col-1">&nbsp;</div>
                        <div class="col-5">
                            <table class="table table-striped table-dark">
                                <thead>
                                    <tr>
                                        <th scope="col">M&oacute;dulo</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="moduloSeleccionado in modulosSeleccionados">
                                        <td>{{moduloSeleccionado.nombre}}</td>
                                        <td><button class="btn btn-danger" ng-click="eliminarModulo(moduloSeleccionado.id)"><i class="fas fa-trash-alt" style="color:white;"></i></button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>-->
<!--                <div class="form-group">
                    <label>¿Qué días podrán acceder los usuarios? *</label>
                    <div class='row col-12'>
                        <div class='row col-3'>
                            <input type="checkbox" class="form-control col-1" ng-model="cliente.dias_activos['lunes']"><label class="col-11">Lunes</label>
                            <input type="checkbox" class="form-control col-1" ng-model="cliente.dias_activos['martes']"><label class="col-11">Martes</label>
                        </div>
                        <div class='row col-3'>
                            <input type="checkbox" class="form-control col-1" ng-model="cliente.dias_activos['miercoles']"><label class="col-11">Mi&eacute;rcoles</label>
                            <input type="checkbox" class="form-control col-1" ng-model="cliente.dias_activos['jueves']"><label class="col-11">Jueves</label>
                        </div>
                        <div class='row col-3'>
                            <input type="checkbox" class="form-control col-1" ng-model="cliente.dias_activos['viernes']"><label class="col-11">Viernes</label>
                            <input type="checkbox" class="form-control col-1" ng-model="cliente.dias_activos['sabado']"><label class="col-11">S&aacute;bado</label>
                        </div>
                        <div class='row col-3'>
                            <input type="checkbox" class="form-control col-1" ng-model="cliente.dias_activos.domingo"><label class="col-11">Domingo</label>
                        </div>
                    </div>
                </div>-->
                <div class="form-group">
                    <!--                    <div class="row">
                                            <div class="col-6">
                                                <label>Fecha inicio de contrato *</label>
                                                <input type="date" class="form-control" ng-model="cliente.fecha_inicio" required>
                                            </div>
                                            <div class="col-6">
                                                <label>Fecha expiración de contrato *</label>
                                                <input type="date" class="form-control" ng-model="cliente.fecha_final" required>
                                            </div>
                                        </div>-->
                    <div class="row">
                        <div class="col-6">
                            <div class="col-12 row">
                                <label class="col-12">Fecha inicio de contrato *</label>
                                <!--<input type="date" class="form-control col-7" ng-model="empleado.fechaNacimiento" placeholder="Fecha de Nacimiento">-->
                                <div class="col-3">
                                    <small>D&iacute;a</small>
                                    <input type="text" class="form-control"  maxlength="2" ng-model="cliente.diaInicioContrato" placeholder="dd" numbers-only allowDecimals="false">
                                    <small>dd</small>
                                </div>
                                <div class="col-4">
                                    <small>Mes</small> 
                                    <!--<input type="text" class="form-control" ng-model="empleado.mesNacimiento" placeholder="Fecha de Nacimiento">-->
                                    <select class="form-control" name="repeatSelect" id="repeatSelect" ng-model="cliente.mesInicioContrato">
                                        <option ng-repeat="option in meses" value="{{option.id}}">{{option.mes}}</option>
                                    </select>
                                    <small>mm</small>
                                </div>
                                <div class="col-4">             
                                    <small>Año</small> 
                                    <input type="text" class="form-control" maxlength="4" ng-model="cliente.anioInicioContrato" placeholder="aaaa" numbers-only allowDecimals="false">
                                    <small>aaaa</small> 
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="col-12 row">
                                <label class="col-12">Fecha fin de contrato *</label>
                                <!--<input type="date" class="form-control col-7" ng-model="empleado.fechaNacimiento" placeholder="Fecha de Nacimiento">-->
                                <div class="col-3">
                                    <small>D&iacute;a</small>
                                    <input type="text" class="form-control"  maxlength="2" ng-model="cliente.diaFinContrato" placeholder="Día de Nacimiento" numbers-only allowDecimals="false">
                                    <small>dd</small>
                                </div>
                                <div class="col-4">
                                    <small>Mes</small> 
                                    <!--<input type="text" class="form-control" ng-model="empleado.mesNacimiento" placeholder="Fecha de Nacimiento">-->
                                    <select class="form-control" name="repeatSelect" id="repeatSelect" ng-model="cliente.mesFinContrato">
                                        <option ng-repeat="option in meses" value="{{option.id}}">{{option.mes}}</option>
                                    </select>
                                    <small>mm</small>
                                </div>
                                <div class="col-4">             
                                    <small>Año</small> 
                                    <input type="text" class="form-control" maxlength="4" ng-model="cliente.anioFinContrato" placeholder="Año de Nacimiento" numbers-only allowDecimals="false">
                                    <small>aaaa</small> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--</div>-->
<!--                <div class="form-group">
                    <label>¿Cu&aacute;ntos videos por d&iacute;a puede ver el usuario? *</label>
                    <input type="text" class="form-control" ng-model="cliente.numero_videos" placeholder="Número de videos" numbers-only allowDecimals="false" >
                </div>-->
                <div class="text-right p-1">
                </div>
                <div class="row col-12">
                    <div class="col-9">
                    </div>
                    <div class="col-3 row">
                        <a href="" ng-click="atras('datos-contacto', 'contrato')">Atr&aacute;s</a>
                        <label>&nbsp; &nbsp;</label>
                        <button class="btn btn-primary btn-lg" ng-click="crearCliente(cliente)" id="button-enviar"><i class="fas fa-save"></i>&nbsp;Guardar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>