<div class="container">
    <div class="admin-title pt-5 pb-5">
        <h1>Clientes con preregistro</h1>
    </div>
    <div ng-if="clientes.length !== 0">
        <table class="table table-striped table-light p-5" id="tabla-redondeada">
            <thead>
                <tr>
                    <th scope="col">Cliente</th>
                    <th scope="col">Email</th>
                    <th scope="col">Tel&eacute;fono</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr class="p-5" ng-mouseover="verIconos = true;" ng-mouseleave="verIconos = false;" ng-repeat="cliente in clientes">
                    <td>{{cliente.nombreEmpresa}}</td>
                    <td>{{cliente.emailContacto}}</td>
                    <td>{{cliente.telefonoContacto}}</td>
                    <td><button ng-if="verIconos === true;" data-title="Revisar solicitud" class="btn btn-primary" ng-click="aceptarCliente(cliente.id)"><i class="fas fa-user-check" style="color:white;"></i>&nbsp; Revisar solicitud</button></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div ng-if="clientes.length === 0">
        No hay clientes que mostrar.
    </div>
</div>