<div class="container">
   <div class="admin-title pt-5">
       <h1>Descargar m&eacute;tricas</h1>
    </div>
    <table id="tabla-modulos" class="ocultar-tabla">
    <thead>
        <tr><th>Modulo Nombre</th></tr>
        <tr>
            <th>Nombre del video</th>
            <th>Vistas</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="">
            <td>PHP</td>
            <td>php.net</td>
            <td>Aplicaciones web</td>
        </tr>
    </tbody>
</table>
    
    <button id = "btnExportar" class="btn btn-primary">Boton de descarga 1</button>
    <button id = "btnExportar2" class="btn btn-info">Boton de descarga 2</button>
</div>