<div class="container pt-5 pb-5">
    <div class="row" id="header-login">
        <div class="col-xl-4 col-lg-4 col-md-3 col-sm-1"></div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-10 justify-content-center">
            <a ui-sref="main.login"><img src="auth/images/logo_vitah_white.png"  class="img-fluid" alt="Vitah logo"></a>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-3 col-sm-12"></div>
    </div>
    <div class="row">
        <div class="col-xl-3 col-lg-3 col-md-2 col-sm-1 col-xs-1"></div>
        <div id="login" class="col-xl-7 col-lg-6 col-md-8 col-sm-10 col-xs-10">
            <div class="text-center p-4">
                <h2>Recuperar contraseña</h2>
            </div>
            <form class="p-1" ng-if="cambiarPassword !== true">
                <p>Inserta el correo electr&oacute;nico con el que inicias sesi&oacute;n para recuperar tu contraseña</p>
                <div class="form-group">
                    <div class="col-12 p-3">
                        <!--<label class="col-3">Usuario</label>-->
                        <input type="email" class="form-control col-12" ng-model="email" placeholder="Correo electrónico">
                    </div>
                </div>
                <div class="form-group text-center">
                    <button class="btn btn-primary pl-5 pr-5" ng-click="recuperarPassword(email)">Recuperar contraseña</button>
                </div>
            </form>
            <div ng-if="cambiarPassword === true">
                <div class="text-center p-4">
                    <h2>¡Listo!</h2>
                </div>
                <p>Revisa tu correo {{email}}. En breve recibir&aacute;s un correo electr&oacute;nico con el cual podr&aacute;s reestablecer tu contraseña</p>
            </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-2 col-sm-1 col-xs-1"></div>
    </div>
</div>