<div class="container">
    <div class="admin-title pt-5">
        <h1>Detalle de la subscripci&oacute;n</h1>
    </div>
    <main>
        <section id="my-subscription">
            <h3>Para ver el detalle de tu subscripci&oacute;n, añadir un nuevo m&eacute;todo de pago o cancelar tu subscripci&oacute;n, haz clic en el siguiente bot&oacute;n </h3>
            <button class="btn btn-primary" id="billing-portal-button">Acceder al detalle de mi subscripci&oacute;n</button>
        </section>
    </main>
</div>