<div class="container pt-5">
    <div class="col-12 row">
        <div class="col-4"></div>
        <div class="col-4">
            <a ui-sref="main.login"><img src="auth/images/logo_vitah_white.png"  class="img-fluid" alt="Vitah logo"></a>
        </div>
        <div class="col-2"></div>
    </div>
    <div class="col-12 align-content-center row p-2">
        <div class="col-4"></div>
        <div id="login" class="col-7 row text-center pl-5">
            <h2>Acceso no permitido</h2>
        </div>
        <div class="col-2">
        </div>
    </div>
</div>