<div class="container-home">
    <div class="row col-12" >
        <!--<div class="col-lg-1 col-md-12"></div>-->
        <div class="col-lg-6 col-md-12 home-texto">
            <div class="p-5">
                <h1>¡Crece como nunca antes lo hab&iacute;as hecho!</h1>
                <p>Vitah es un espacio para t&iacute;, te ayudamos a dejar a un lado la rutina y alcanzar la vitalidad que necesitas.</p>
                <ul>
                    <li>Explora nuestros cursos de meditaci&oacute;n, crecimiento personal, yoga y muchos m&aacute;s. Son desarrollados e impartidos por profesionales.</li>
                    <li>Visualiza tu crecimiento con el material y las m&eacute;tricas que ofrecemos. </li>
                </ul>
                <p>Prep&aacute;rate, ya que tu mejor "yo" est&aacute; en camino. </p>
                <div class="text-center col-12">
                    <a class="btn btn-primary px-5" ui-sref="main.login" >Reg&iacute;strate ahora </a>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 home-texto pb-5 pt-5" >
            <div class="ml-4 mt-5" style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/513969620?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="AQUI Y AHORA"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
        </div>
        <!--<div class="col-lg-1 col-md-12">-->
    </div>
    <!--</div>-->
    <div id="imparte-taller" class="text-center col-12 pt-5 pb-5">
        <p>¿Tienes conocimiento de alg&uacute;n tema relacionado con Vitah?<br>
            ¡Crea un taller con nosotros y obt&eacute;n beneficios!
        </p>
        <button ng-click="() => {console.log('fsfsdfs')}" class="btn btn-primary mb-2">D&eacute;janos tus datos</button>
    </div>
</div>
<div class="container-videos">
    <div>
        <h1>Top 10 </h1>
        <div class="one-time">
            <div class="container-image" ng-click="irAVideo(diezVideos[0])">
                <img ng-src="{{diezVideos[0].imageURI}}"/>
                <div class="text">
                    <div class="centered"><h5>{{diezVideos[0].nombre}}</h5></div>
                </div>
            </div>
            <div class="container-image" ng-click="irAVideo(diezVideos[1])">
                <img width="400" height="250" ng-src="{{diezVideos[1].imageURI}}"/>
                <div class="text">
                    <div class="centered"><h5>{{diezVideos[1].nombre}}</h5></div>
                </div>
            </div>
            <div class="container-image" ng-click="irAVideo(diezVideos[2])">
                <img width="400" height="250" ng-src="{{diezVideos[2].imageURI}}"/>
                <div class="text">
                    <div class="centered"><h5>{{diezVideos[2].nombre}}</h5></div>
                </div>
            </div>
            <div class="container-image" ng-click="irAVideo(diezVideos[3])">
                <img width="400" height="250" ng-src="{{diezVideos[3].imageURI}}"/>
                <div class="text">
                    <div class="centered"><h5>{{diezVideos[3].nombre}}</h5></div>
                </div>
            </div>
            <div class="container-image" ng-click="irAVideo(diezVideos[4])">
                <img width="400" height="250" ng-src="{{diezVideos[4].imageURI}}"/>
                <div class="text">
                    <div class="centered"><h5>{{diezVideos[4].nombre}}</h5></div>
                </div>
            </div>
            <div class="container-image" ng-click="irAVideo(diezVideos[5])">
                <img width="400" height="250" ng-src="{{diezVideos[5].imageURI}}"/>
                <div class="text">
                    <div class="centered"><h5>{{diezVideos[5].nombre}}</h5></div>
                </div>
            </div>
            <div class="container-image" ng-click="irAVideo(diezVideos[6])">
                <img width="400" height="250" ng-src="{{diezVideos[6].imageURI}}"/>
                <div class="text">
                    <div class="centered"><h5>{{diezVideos[6].nombre}}</h5></div>
                </div>
            </div>
            <div class="container-image" ng-click="irAVideo(diezVideos[7])">
                <img width="400" height="250" ng-src="{{diezVideos[7].imageURI}}"/>
                <div class="text">
                    <div class="centered"><h5>{{diezVideos[7].nombre}}</h5></div>
                </div>
            </div>
            <div class="container-image" ng-click="irAVideo(diezVideos[8])">
                <img width="400" height="250" ng-src="{{diezVideos[8].imageURI}}"/>
                <div class="text">
                    <div class="centered"><h5>{{diezVideos[8].nombre}}</h5></div>
                </div>
            </div>
            <div class="container-image" ng-click="irAVideo(diezVideos[9])">
                <img width="400" height="250" ng-src="{{diezVideos[9].imageURI}}"/>
                <div class="text">
                    <div class="centered"><h5>{{diezVideos[9].nombre}}</h5></div>
                </div>
            </div>
        </div>
        <!--<div>-->
        <!--        <div class="row">
                    <div class="MultiCarousel" data-items="1,2,3,4" data-slide="1" id="MultiCarousel"  data-interval="1">
                        <div class="MultiCarousel-inner">
                            <div class="item">
                                <div class="pad15" ui-sref="main.login">
                                    <div class="container-image" ng-click="irAVideo(diezVideos[0])">
                                        <img ng-src="{{diezVideos[0].imageURI}}"/>
                                        <div class="text">
                                            <div class="centered"><h5>{{diezVideos[0].nombre}}</h5></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="pad15" ui-sref="main.login">
                                    <div class="container-image" ng-click="irAVideo(diezVideos[1])">
                                        <img width="400" height="250" ng-src="{{diezVideos[1].imageURI}}"/>
                                        <div class="text">
                                            <div class="centered"><h5>{{diezVideos[1].nombre}}</h5></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="pad15" ui-sref="main.login">
                                    <div class="container-image" ng-click="irAVideo(diezVideos[2])">
                                        <img width="400" height="250" ng-src="{{diezVideos[2].imageURI}}"/>
                                        <div class="text">
                                            <div class="centered"><h5>{{diezVideos[2].nombre}}</h5></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="pad15" ui-sref="main.login">
                                    <div class="container-image" ng-click="irAVideo(diezVideos[3])">
                                        <img width="400" height="250" ng-src="{{diezVideos[3].imageURI}}"/>
                                        <div class="text">
                                            <div class="centered"><h5>{{diezVideos[3].nombre}}</h5></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="pad15" ui-sref="main.login">
                                    <div class="container-image" ng-click="irAVideo(diezVideos[4])">
                                        <img width="400" height="250" ng-src="{{diezVideos[4].imageURI}}"/>
                                        <div class="text">
                                            <div class="centered"><h5>{{diezVideos[4].nombre}}</h5></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="pad15" ui-sref="main.login">
                                    <div class="container-image" ng-click="irAVideo(diezVideos[5])">
                                        <img width="400" height="250" ng-src="{{diezVideos[5].imageURI}}"/>
                                        <div class="text">
                                            <div class="centered"><h5>{{diezVideos[5].nombre}}</h5></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="pad15" ui-sref="main.login">
                                    <div class="container-image" ng-click="irAVideo(diezVideos[6])">
                                        <img width="400" height="250" ng-src="{{diezVideos[6].imageURI}}"/>
                                        <div class="text">
                                            <div class="centered"><h5>{{diezVideos[6].nombre}}</h5></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="pad15" ui-sref="main.login">
                                    <div class="container-image" ng-click="irAVideo(diezVideos[7])">
                                        <img width="400" height="250" ng-src="{{diezVideos[7].imageURI}}"/>
                                        <div class="text">
                                            <div class="centered"><h5>{{diezVideos[7].nombre}}</h5></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="pad15" ui-sref="main.login">
                                    <div class="container-image" ng-click="irAVideo(diezVideos[8])">
                                        <img width="400" height="250" ng-src="{{diezVideos[8].imageURI}}"/>
                                        <div class="text">
                                            <div class="centered"><h5>{{diezVideos[8].nombre}}</h5></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="pad15" ui-sref="main.login">
                                    <div class="container-image" ng-click="irAVideo(diezVideos[9])">
                                        <img width="400" height="250" ng-src="{{diezVideos[9].imageURI}}"/>
                                        <div class="text">
                                            <div class="centered"><h5>{{diezVideos[9].nombre}}</h5></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-primary leftLst"><</button>
                        <button class="btn btn-primary rightLst">></button>
                    </div>
                </div>-->
    </div>
    <div class="pt-5">
        <h1>Categor&iacute;as</h1>
        <div class="row text-center" id="modulo">
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-xs-12 pr-2" ng-repeat="modulo in modulos">
                <a ui-sref="main.login"><img ng-src="{{modulo.imageURI}}"/></a>
                <a ui-sref="main.login"><h4 class="pt-3">{{modulo.nombre}}</h4></a>      
            </div>
        </div>
    </div>
</div>
<!--</div>-->
<!--</div>-->
<!--</div>-->